body {
  overflow-x: hidden;
}

#laptop-mockup-container {
  width: 100%;
  height: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  transition-duration: 300ms;
}

#mobile-mockup-container {
  width: 100%;
  height: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  transition-duration: 300ms;
  position: absolute;
}

#laptop-mockup {
  position: absolute;
  width: 80vw;
  height: 45vw;
}

#mobile-mockup {
  position: absolute;
  width: 42vh;
  height: 82vh;
}

#laptop-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 60.6vw;
  height: 37vw;
  transform: translateY(-1.3vw) translateX(0.5pt);
  overflow-y: scroll;
  transition-duration: 1000ms;
  filter: brightness(0%);
  background-color: black;
}

#laptop-content::-webkit-scrollbar {
  display: none;
}

#mobile-content {
  width: 100%;
  border-bottom-left-radius: 3.2vh;
  border-bottom-right-radius: 3.2vh;
  margin-bottom: 3px;
}

#mobile-content::-webkit-scrollbar {
  display: none;
}

#laptop-content .tiles {
  display: flex;
  flex-direction: column;
  height: 33%;
  width: calc(60.6vw / 3 - 2px);
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  margin: 1px;
  z-index: 10;
  transition-duration: 200ms;
  filter: grayscale(0%);
}

#mobile-content .tiles {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 100%;
  padding-left: 20px;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  transition-duration: 200ms;
  filter: grayscale(0%);
}

#laptop-content .tiles:hover {
  filter: grayscale(40%);
}

#mobile-content .tiles:hover {
  filter: grayscale(40%);
}

