button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline: none;
}

.theme0 {
  border-radius: 50px;
  border: 2.3pt solid #fff;
  background-color: transparent;
  color: white;
  font-size: 18px;
  transition-duration: 200ms;
  transition-timing-function: ease;
  padding: 10px 20px;
}

.theme0:hover {
  border: 2.3pt solid #fff;
  background-color: transparent;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}
