@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: white;
	/*background: linear-gradient(*/
	/*	180deg,*/
	/*	var(--primary-color) 0%,*/
	/*	var(--secondary-color) 10.45%,*/
	/*	var(--tertiary-color) 41.35%*/
	/*);*/
}

header {
	position: fixed;
	min-width: 100vw;
	z-index: 200;
	border-bottom: 1.5pt solid rgba(255, 255, 255, 0.2);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(71, 82, 255, 0.11) 100%);
	overflow: clip;
}
header > .blur-bg {
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 4rem !important;
	text-align: center;
	color: black;
	font-weight: 800;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.radial-gradient {
	filter: blur(60px);
	z-index: -1;
}

@media (max-width: 720px) {
	.hide-if-mobile {
		display: none;
	}
}

@media (min-width: 720px) {
	.hide-if-desktop {
		display: none;
	}
}

@font-face {
	font-family: 'Helvetica Outline';
	src: url('/fonts/Helvetica LT 75 Bold Outline.ttf') format('truetype');
}

@font-face {
	font-family: 'Nimbus San L Bold';
	src: url('/fonts/NimbusSanL-Bol.otf') format('opentype');
}

@font-face {
	font-family: 'Nimbus San L Reg';
	src: url('/fonts/NimbusSanL-Reg.otf') format('opentype');
}

.spin-1 {
	animation: spin-1 5s ease-in-out infinite;
}


.spin-2 {
	animation: spin-2 5.5s ease-in-out infinite;
}

.spin-3 {
	animation: spin-3 3s ease-in-out infinite;
}

.ping {
	animation: ping 5s ease-out infinite;
}

/*Animate goes here*/
@keyframes ping {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}

@keyframes spin-1 {
	0% {
		transform: rotate(25deg);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(25deg);
	}
}

@keyframes spin-2 {
	0% {
		transform: rotate(-35deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(-35deg);
	}
}

@keyframes spin-3 {
	0% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}